body{
    background: lightgrey;
    margin: 0 auto 5em;
    text-align: center;
}

button{
    background: lightseagreen;
    border-radius: 12px;
    color: white;
}

header{
    background: lightslategray;
    margin: auto;
    padding: 1em;
}

table{
    margin: auto;
}

th{
    padding: 0 4em;
}